/* table styles */

table.withdata {
  border: 1px solid black;
}

.withdata thead th {
  background: #afa;
  padding: 5px 2px;
}

.withdata tbody tr:nth-child(even) {
  background: #fafafa;
}

.withdata tbody tr:nth-child(odd) {
  background: #daeada;
}

.ral {
  text-align: right;
}
.cal {
  text-align: center;
}

.groupdata, .records, .topiclist {
  border-collapse: collapse;
}

.groupdata td:nth-child(7) {
  font-weight: bold;
  color: #633;
  min-width: 3em;
}

.topiclist td:nth-child(3) {
  max-width: 60%;
}

.navbar {
  border-bottom: 2px solid #353;
}
.navbar a {
  display: inline-block;
  margin: 0px 10px 4px 10px;
  border: 1px solid #353;
  padding: 4px;
  border-radius: 3px;
}

.emsg {
  color: red;
}

.grepform {
  border: 2px solid grey;
  padding: 2px;
  margin-bottom: 2px;
}

.grepform > div {
  display: inline-block;
}
.grepform > *:last-child {
  display: block;
}
.wtopmargin {
  border-top: 2px solid #676;
}
.wtopmargin >td {
  padding-top: 5px;
}

.recvalue {
  max-height: 14ex;
  overflow-y: auto;
  word-break: break-all;
}

.recKey {
  word-break: break-all;
  min-width:  30%;
}