html {
  position: relative;
  padding-bottom: 2ex;
}

/* table styles */

table.withdata {
  border: 1px solid black;
  margin-bottom: 4px;
}

.withdata thead th {
  background: #afa;
  padding: 5px 2px;
}

.withdata tbody tr:nth-child(even) {
  background: #fafafa;
}

.withdata tbody tr:nth-child(odd) {
  background: #daeada;
}

.ral {
  text-align: right;
}
.cal {
  text-align: center;
}
.lag {
  font-weight: bold;
  color: #a72;
  min-width: 3ex;
}
.lagstuck {
  color: #777;
  min-width: 3ex;  
}
.groupdata, .records, .topiclist {
  border-collapse: collapse;
}

.topiclist td:nth-child(3) {
  max-width: 60%;
}

.navbar {
  border-bottom: 2px solid #353;
}
.navbar a {
  display: inline-block;
  margin: 0px 10px 4px 10px;
  border: 1px solid #353;
  padding: 4px;
  border-radius: 3px;
}

.emsg {
  color: red;
}

.grepform {
  border: 2px solid grey;
  padding: 2px;
  margin-bottom: 2px;
}

.grepform > div {
  display: inline-block;
}
.grepform > *:last-child {
  display: block;
}
.wtopmargin {
  border-top: 2px solid #676;
}
.wtopmargin >td {
  padding-top: 5px;
}

.recvalue {
  max-height: 14ex;
  overflow-y: auto;
  word-break: break-all;
}

.recKey {
  word-break: break-all;
  min-width:  30%;
}

.offsetsform {
  border: 2px solid grey;
  padding: 2px;
  margin-bottom: 2px;
}

.offsetsform label {
  margin-right: 1em;
  text-align: left;
}

.offsetsform label input {
  margin-right: 0px;
}

.expired {
  color: #777;
}

.uistatus {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #afa;
  padding: 2px;
}
.kafkaaddr {
  text-align: right;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 80%;
  border-top: 1px solid #777;
  text-align: center;
  background: white;
}

.error p:first-child {
  margin-bottom: 0px;
}
.stacktrace {
  margin-top: 2px;
  height: 2em;
  overflow-y: hidden;
}
.stacktrace:hover {
  height: auto;
}

.warning {
  padding: 8px 5px;
  margin: 5px 0px;
  border: 1px solid black;
  background: orange;
  font-weight: bold;
}
